/***********************************
Resets and Defaults
***********************************/

html,
body,
body div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent
}

article,
aside,
figure,
footer,
header,
hgroup,
nav,
section {
    display: block
}


/* Responsive images and other embedded objects
   Note: keeping IMG here will cause problems if you're using foreground images as sprites.
   If this default setting for images is causing issues, you might want to replace it with a .responsive class instead. */

img,
object,
embed {
    max-width: 100%
}


/* force a vertical scrollbar to prevent a jumpy page */

html {
    overflow-y: scroll
}


/* we use a lot of ULs that aren't bulleted. -- don't forget to restore the bullets within content. */

ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent
}

del {
    text-decoration: line-through
}

abbr[title],
dfn[title] {
    border-bottom: 1px dotted #000;
    cursor: help
}


/* tables still need cellspacing="0" in the markup */

table {
    border-collapse: collapse;
    border-spacing: 0
}

th {
    font-weight: bold;
    vertical-align: bottom
}

td {
    font-weight: normal;
    vertical-align: top
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0
}

input,
select {
    vertical-align: middle
}

pre {
    white-space: pre;
    /* CSS2 */
    white-space: pre-wrap;
    /* CSS 2.1 */
    white-space: pre-line;
    /* CSS 3 (and 2.1 as well, actually) */
    word-wrap: break-word;
    /* IE */
}

input[type="radio"] {
    vertical-align: text-bottom
}

input[type="checkbox"] {
    vertical-align: bottom;
    *vertical-align: baseline
}

.ie6 input {
    vertical-align: text-bottom
}

select,
input,
textarea {
    font: 99% sans-serif
}

table {
    font-size: inherit;
    font: 100%
}

a:hover,
a:active {
    outline: 0
}

small {
    font-size: 85%
}

strong,
th {
    font-weight: bold
}

td,
td img {
    vertical-align: top
}


/* Make sure sup and sub don't screw with your line-heights
gist.github.com/413930 */

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative
}

sup {
    top: -0.5em
}

sub {
    bottom: -0.25em
}

pre,
code,
kbd,
samp {
    font-family: monospace, sans-serif
}


/* hand cursor on clickable elements */

.clickable,
label,
input[type=button],
input[type=submit],
button {
    cursor: pointer
}


/* Webkit browsers add a 2px margin outside the chrome of form elements */

button,
input,
select,
textarea {
    margin: 0
}

button {
    width: auto;
    overflow: visible
}


/* scale images in IE7 more attractively */

.ie7 img {
    -ms-interpolation-mode: bicubic;
}


/***********************************
Border Box EVERYTHING
***********************************/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}


/***************************************
Clear Floats -- Like a Boss!
***************************************/

.cf:before,
.cf:after {
    content: " ";
    display: table
}

.cf:after {
    clear: both
}

.cf {
    *zoom: 1
}


/***************************************
Image Replacement -- Like a Boss!
***************************************/

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}


/***************************************
Base Styles
***************************************/

body,
select,
input,
textarea {
    color: #a9a9a9
}


/* Main Font Color */

body {
    margin: 0;
    font: 300 100%/2 'Lato', sans-serif;
    /* Main Font */
    min-height: 100%;
    background: #f9f9f9;
}


/***********************************
Global
***********************************/


/* Heading */

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-family: inherit;
    font-weight: bold;
    color: inherit;
    line-height: 1.2em;
    text-rendering: optimizelegibility;
}

h1 {
    font-size: 46px;
}

h2 {
    font-size: 34px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 14px;
}

a {
    color: #444;
    font-weight: 400;
    text-decoration: none;
    -webkit-transition: color linear 0.2s;
    -moz-transition: color linear 0.2s;
    -ms-transition: color linear 0.2s;
    -o-transition: color linear 0.2s;
    transition: color linear 0.2s;
}

a:hover {
    color: #222;
    text-decoration: none;
}

a:focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

a:hover,
a:active {
    outline: 0;
}

a img {
    opacity: 1;
    -webkit-transition: opacity linear 0.2s;
    -moz-transition: opacity linear 0.2s;
    -ms-transition: opacity linear 0.2s;
    -o-transition: opacity linear 0.2s;
    transition: opacity linear 0.2s;
}

a:hover img {
    background-color: none;
    opacity: 0.6;
}

p {
    margin: 0 0 10px;
}

small {
    font-size: 85%;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

ul,
ol {
    padding: 0;
    margin: 0 0 10px 25px;
}

ul ul,
ul ol,
ol ol,
ol ul {
    margin-bottom: 0;
}

li {
    line-height: 1em;
}

ul.unstyled,
ol.unstyled {
    margin-left: 0;
    list-style: none;
}

ul.inline,
ol.inline {
    margin-left: 0;
    list-style: none;
}

ul.inline > li,
ol.inline > li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
    display: inline;
    /* IE7 inline-block hack */
    *zoom: 1;
}

dl {
    margin-bottom: 1em;
}

dt,
dd {
    line-height: 1em;
}

dt {
    font-weight: bold;
}

dd {
    margin-left: 10px;
}

hr {
    margin: 1em 0;
    border: 0;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #fff;
}

.hidden {
    display: none !important;
}

.spacer {
    font-size: 6em;
    line-height: 100%;
    margin: 1em 0 .5em;
    display: inline-block;
    *display: inline;
    padding: 4px 12px;
    color: rgba(81, 55, 105, .1);
    text-align: center;
    text-shadow: none;
    vertical-align: middle;
    *zoom: 1;
    width: auto;
}


/* Placeholders */

input::-webkit-input-placeholder {
    color: #797979;
}

input:-moz-placeholder {
    color: #797979;
}


/*
     * Remove text-shadow in selection highlight: h5bp.com/i
     * These selection declarations have to be separate.
     * Customize the background color to match your design.
     */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

fieldset {
    padding: 0;
    margin: 0;
    border: 0;
}

textarea,
input[type="text"],
input[type="email"] {
    font-size: 1em;
    background-color: #fff;
    display: inline-block;
    padding: 4px 6px;
    border: none;
    outline: 0;
    vertical-align: middle;
    *display: inline;
    /* IE7 inline-block hack */
    *zoom: 1;
}

textarea:focus,
input[type="text"]:focus,
input[type="email"]:focus {
    border-color: #333;
    color: #fafafa;
    outline: 0;
    outline: thin dotted \9;
}

input[type="submit"]::-moz-focus-inner {
    border: 0;
    padding: 0;
}


/* Alerts */

.alert {
    padding: 8px 14px;
    color: #c09853;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    display: inline-block;
    zoom: 1;
    *display: inline;
    text-shadow: none;
    margin: 0 auto;
    background-color: #fcf8e3;
    border: 1px solid #fbeed5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}

.alert-error {
    color: #b94a48;
    background-color: #f2dede;
    border-color: #eed3d7;
}

.alert-success {
    color: #468847;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.alignright {
    text-align: right;
}


/***************************************
Buttons
***************************************/

.btn {
    display: inline-block;
    *display: inline;
    padding: 4px 12px;
    margin-bottom: 0;
    *margin-left: .3em;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    cursor: pointer;
    background-color: #f5f5f5;
    *background-color: #e6e6e6;
    /*background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
    background-repeat: repeat-x;*/
    border: 1px solid #cccccc;
    *border: 0;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-bottom-color: #b3b3b3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);*/
    *zoom: 1;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn:hover,
.btn:focus,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
    color: #333333;
    background-color: #e6e6e6;
    *background-color: #d9d9d9;
}

.btn:active,
.btn.active {
    background-color: #cccccc \9;
}

.btn:first-child {
    *margin-left: 0;
}

.btn:hover,
.btn:focus {
    color: #333333;
    text-decoration: none;
    background-position: 0 -15px;
    -webkit-transition: background-position 0.1s linear;
    -moz-transition: background-position 0.1s linear;
    -o-transition: background-position 0.1s linear;
    transition: background-position 0.1s linear;
}

.btn:focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.btn.active,
.btn:active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn.disabled,
.btn[disabled] {
    cursor: default;
    background-image: none;
    opacity: 0.65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.btn.dark {
    background-color: #444;
}

.btn.dark:hover {
    background-color: #666;
    color: #fff;
}

button::-moz-focus-inner {
    border: 0;
    padding: 0;
    margin: 0;
}


/***************************************
Grid System
Widths from http://gumbyframework.com
***************************************/

.row {
    width: 100%;
    max-width: 940px;
    min-width: 720px;
    margin: 0 auto;
}

.row .row {
    min-width: 0px
}

.col,
.cols {
    margin-left: 2.127663%;
    float: left;
    min-height: 1px;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

.col:first-child {
    margin-left: 0px
}

.row .span1.col {
    width: 6.382989%
}

.row .span2.col {
    width: 14.893641%
}

.row .span3.col {
    width: 23.404293%
}

.row .span4.col {
    width: 31.914945%
}

.row .span5.col {
    width: 40.425597%
}

.row .span6.col {
    width: 48.936249%
}

.row .span7.col {
    width: 57.446901%
}

.row .span8.col {
    width: 65.957553%
}

.row .span9.col {
    width: 74.468205%
}

.row .span10.col {
    width: 82.978857%
}

.row .span11.col {
    width: 91.489509%
}

.row .span12.col {
    width: 100%
}


/***************************************
Page Styles
***************************************/

.top-section {
    text-align: center;
    background-color: #fff;
    position: relative;
    overflow: hidden;
}

.top-section .wrap {
    padding: 5em 0 2em;
}

.wrap {
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
}

.brand {
    background-repeat: no-repeat;
    background-position: 0 0;
    background-image: url('../img/digitmade-badge-paprika-rvb.png');
    background-size: contain;
    width: 100px;
    height: 100px;
    padding: 0;
    margin: 0 auto 1em;
}

footer .brand {
    background-image: url('https://digitmadecdn.appspot.com/img/digitmade-creative-partners-g512256.png');
    width: 115px;
    height: 58px;
    margin: 0;
}

.hero-copy {
    font-weight: 100;
}

.sub-hero-copy {
    font-weight: 100;
    color: #000;
}


/* Counter */

.unodos {
    text-align: center;
    margin: 5em auto;
    display: inline-block;
    zoom: 1;
    *display: inline;
}

.unodos div span {
    display: block;
    line-height: 1;
}

.unodos div {
    min-width: 152px;
}

.unodos div,
.unodos .sep {
    float: left;
    margin-left: 0.6em;
    text-align: center;
}

.unodos .sep {
    font-size: 2em;
    text-shadow: none;
    margin-top: 1em;
}

.unodos .sep,
.unodos .label {
    color: #fff;
}

.unodos .label {
    font-size: 1.2rem;
    font-weight: 100;
    text-transform: uppercase;
}

.unodos .digits {
    color: #fff;
    font-family: 'Wire One', sans-serif;
    font-weight: 300;
    font-size: 9em;
}

#signup {
    margin-top: 2em;
}

.pressed-box {
    background-color: rgba(0, 0, 0, 0.75);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}


/* Social Icons */

.social {
    text-align: right;
    padding: 0 20px 4px;
    position: absolute;
    right: 1em;
    top: 0;
    -webkit-border-radius: 0 0 10px 10px;
    -moz-border-radius: 0 0 10px 10px;
    -ms-border-radius: 0 0 10px 10px;
    -o-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
}

.social a {
    display: inline-block;
    *display: inline;
    /* IE7 inline-block hack */
    *zoom: 1;
    margin-right: 10px;
    font-size: 1.1em;
    color: #fff;
}

.social a:hover {
    color: #666;
}

.social a:last-child {
    margin: 0;
}

.notify-form fieldset {
    vertical-align: top;
    display: inline-block;
    *display: inline;
    /* IE7 inline-block hack */
    *zoom: 1;
    padding: 6px;
    margin-bottom: 1em;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3), inset 0 2px 4px rgba(0, 0, 0, 0.3);
}

.input-cont {
    position: relative;
    text-align: left;
    overflow: hidden;
    padding: 0;
    margin: 0;
    vertical-align: top;
    display: inline-block;
    *display: inline;
    /* IE7 inline-block hack */
    *zoom: 1;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    -ms-border-radius: 4px 0 0 4px;
    -o-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
    -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
    -o-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;
}

.input-cont i {
    position: absolute;
    right: 10px;
    top: 28%;
    font-size: 1.3em;
}

.notify-form .alert {
    margin: 0 1.5em 1em
}

.input-cont.valid .good,
.input-cont.error .bad {
    display: block
}

.input-cont .validate {
    display: none
}

.good {
    color: #5eab1f
}

.error {
    color: #cf4b2a
}

input.email-input {
    background: transparent;
    margin-left: 2px;
    border: 0;
    display: block;
    width: 350px;
    line-height: 23px;
    padding: 15px 10% 15px 6%;
}

.notify-btn {
    padding: 15px 30px;
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #53396a;
    *background-color: #53396a;
    /*    background-image: -moz-linear-gradient(top, #775198, #53396a);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#775198), to(#53396a));
    background-image: -webkit-linear-gradient(top, #775198, #53396a);
    background-image: -o-linear-gradient(top, #775198, #53396a);
    background-image: linear-gradient(to bottom, #775198, #53396a);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#775198', endColorstr='#53396a', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    */
    border-color: #53396a;
    /*border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);*/
}

.notify-btn-flat {
    padding: 15px 30px;
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #53396a;
    border-color: #53396a;
}

.notify-btn:hover,
.notify-btn-flat:hover,
.notify-btn:focus,
.notify-btn:active,
.notify-btn.active,
.notify-btn.disabled,
.notify-btn[disabled] {
    color: #ffffff;
    background-color: #775198;
    *background-color: #775198;
}

.notify-btn:active,
.notify-btn.active {
    background-color: #53396a \9;
}

.notify-msg {
    line-height: 1.3;
    text-shadow: none;
    font-weight: 400;
}

article {
    margin-bottom: 2em;
    font-size: 0.8rem
}

article i {
    color: #d3c54d;
    float: left;
    vertical-align: middle !important;
    font-size: 2.6em
}

article h3 {
    font-weight: 200;
    font-size: 20px;
    line-height: 21px;
    margin-bottom: 20px;
}

article h3,
article p {
    margin-left: 50px;
    vertical-align: middle;
}

.twitter_title {
    margin-left: 51px;
}

.tweets-ticker {
    height: 19.5em;
    margin-bottom: 1em;
    overflow-y: hidden;
    position: relative;
}

.tweet_list {
    position: absolute;
    list-style: none;
    margin: 0;
}

.tweet_list li {
    margin-bottom: 1.2em;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0.2em;
    line-height: 1.2;
}

.tweet_list .tweet_avatar {
    margin-right: .5em;
    margin-bottom: 0.2em;
    width: 32px;
    float: left;
}

.tweet_list .tweet_avatar img {
    vertical-align: middle;
    border: 1px solid #999;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}

.tweet_list .tweet_text {
    margin-left: 50px;
    display: block
}

.follow-btn .btn {
    font-size: 0.6em;
}

.follow-btn i {
    float: none;
    margin-right: 4px;
    vertical-align: middle;
}

footer,
.bottom-cols {
    padding: 3em 0;
}

.bottom-section h3 {
    color: #888;
}

footer {
    text-align: left;
    background: url('../img/footer-div.png') no-repeat center top;
    background-size: contain;
}

footer .wrap {
    position: relative
}

footer .brand,
.copyright {
    color: #ccc;
}

.copyright {
    position: absolute;
    right: 0;
    text-align: right;
    top: 40%;
    font-size: 0.8rem;
}

.dot-separator {
    background: transparent url('../img/dot-separator.png') 0 0 repeat-x;
    background-size: 32px;
    position: relative;
    top: -8px;
    width: 100%;
    height: 16px;
    z-index: 9999;
}


/***********************************
Default Template Color
***********************************/

.top-section {
    border-top: 8px solid #53396a;
    padding-bottom: 60px;
    color: #fff;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    background: #d3c54d url('../img/exhibition-2.gif') no-repeat center bottom;
    background-size: 150%;
}

.notify-msg {
    color: #fff;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.8);
    width: 50%;
    margin: 0 auto;
}


/***************************************
Media Queries
***************************************/


/* Desktop */

@media only screen and (max-width: 970px) {
    footer,
    .social,
    .bottom-cols .col {
        padding-left: 1em;
        padding-right: 1em;
    }
}


/* Tablet */

@media only screen and (max-width: 800px) {
    .brand {
        width: 160px;
        height: 61px;
        background-size: contain;
    }
    .unodos div {
        min-width: 100px;
    }
    .unodos .sep {
        font-size: 2em;
        margin-top: 0.5em;
    }
    .unodos .label {
        font-size: 0.8em;
    }
    .unodos .digits {
        font-size: 5.8em;
    }
    .social a {
        margin-left: 0.5em;
    }
    .row {
        width: 100%;
        min-width: 0;
        margin-left: 0;
        margin-right: 0;
    }
    .row .row .col {
        padding: 0;
    }
    .col {
        width: auto !important;
        float: none;
        margin-left: 0;
        margin-right: 0;
    }
    .col:last-child,
    .col:last-child {
        margin-right: 0;
        float: none;
    }
    .row .row .col {
        padding: 0;
    }
    .col {
        width: auto !important;
        float: none;
        margin-left: 0px;
        margin-right: 0px;
    }
    .col:last-child {
        margin-right: 0;
        float: none;
    }
    [class*="col"] + [class*="col"]:last-child {
        float: none;
    }
    [class*="col"]:before,
    [class*="col"]:after {
        display: table;
    }
    [class*="col"]:after {
        clear: both;
    }
}


/* Mobile */

@media only screen and (max-width: 640px) {
    body {
        line-height: 1.7;
    }
    h2 {
        padding-left: 1em;
        padding-right: 1em;
    }
    .top-section {
        padding-bottom: 8em;
    }
    .bottom-section article {
        margin-bottom: 4em;
    }
    .col h3 {
        margin-top: 0;
    }
    .unodos div {
        min-width: 54px;
    }
    .unodos .sep {
        font-size: 0.9em;
        margin-top: 0.9em;
    }
    .unodos .label {
        font-size: 0.8em;
    }
    .unodos .digits {
        font-size: 3.1em;
    }
    input.email-input {
        padding: 10px 22% 12px 4%;
        width: 104%;
        font-size: 0.8em;
    }
    .notify-btn {
        padding: 11px
    }
    .notify-msg {
        width: 80%;
    }
    footer {
        text-align: center;
    }
    footer .brand {
        margin: 0 auto 18px;
    }
    .copyright {
        position: static;
        text-align: center;
    }
}
